In [ ]:
#!conda install pandas-datareader

In [1]:
import pandas_datareader.data as web

In [2]:
from datetime import datetime

In [7]:
start = datetime(2016,1,1)
end = datetime(2019,1,27)

In [4]:
gdp = web.DataReader('GDP', 'fred', start, end)

In [5]:
gdp.head()

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828

# obtener datos de iex

https://pandas-datareader.readthedocs.io/en/latest/remote_data.html# 
De esta fuente se pueden extraer datos de los ultimos 5 a√±os

In [8]:
f = web.DataReader('F', 'iex', start, end)

In [9]:
f.head()

               open     high      low    close    volume
date
2016-01-04  11.2637  11.3693  11.1663  11.3449  38618524
2016-01-05  11.3449  11.3693  10.9714  11.1419  50267536
2016-01-06  11.0120  11.0120  10.5978  10.6465  61285453
2016-01-07  10.4760  10.5897  10.2324  10.3136  57846688
2016-01-08  10.5978  10.6384  10.1511  10.1836  46199413